@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
:root {
  --primary-color: #fff55a;
  --secondary-color: #fa613f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--secondary-color);
  font-family: 'Montserrat', sans-serif;
}
ul {
  list-style: none;
}
ul.links li {
  display: block;
  margin: 0 20px;
  padding-bottom: 5px;
}
a {
  text-decoration: none;
  color: white;
}

ul.links li.selected {
  border-bottom: 3px solid var(--primary-color);
  border-radius: 3px;
}
ul.links {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.showcase {
  min-height: 100vh;
}
navbar {
  display: flex;
  color: white;
  justify-content: space-between;
  padding: 30px 20px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
}
.logo {
  padding-right: 10px;
  border-right: 3px solid var(--primary-color);
  border-bottom: 3px solid var(--primary-color);
}
.brand {
  text-align: center;
  font-size: 100px;
  color: var(--primary-color);
  margin-top: 150px;
}
.txt-type > .txt {
  border-right: 0.2rem solid white;
}
.intro,
.skills,
.projects {
  overflow: hidden;
  height: 100vh;
  color: white;
}

.skills {
  background-color: #f97057;
  color: white;
  clip-path: polygon(0 50%, 100% 0, 100% 100%, 0 100%);
}

.intro h1 {
  width: 65%;
  text-align: center;
}
.intro hr,
.skills hr,
.projects hr {
  width: 70px;
  height: 10px;
  border-radius: 10px;
  background-color: var(--primary-color);
  border: none;
  transform: skew(0.312rad);
}

.intro p {
  margin-top: 30px;
  width: 40%;
  line-height: 1.5rem;
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
p.sm {
  margin-bottom: 10px;
  font-weight: bold;
}

.intro h1 {
  font-size: 40px;
  line-height: 3.5rem;
}

.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 100px;
}

.skills p.sm {
  margin-top: 100px;
}

.lists {
  margin-top: 50px;
  display: flex;
}

.list {
  margin-right: 100px;
}

.list h1 {
  font-weight: bold;
  font-size: 40px;
}

.list ul li {
  margin: 20px 0;
}

.projects {
  background-color: white;
  clip-path: polygon(0 0, 100% 0, 100% 60%, 0 100%);
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  /* box-shadow: inset 0 0 5px grey; */
  background-color: var(--secondary-color);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--primary-color);
}

.projects {
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.projects p {
  margin-top: 20px;
}

.project {
  background-color: var(--secondary-color);
  color: black;
  text-align: center;
  padding: 20px;
  width: 300px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.project img {
  width: 100%;
  height: 150px;
}

.btn {
  background-color: #9c4d3b;
  font-size: 12px;
  padding: 5px;
}

.project-list {
  display: flex;
}

ul.skills-used {
  font-size: 10px;
  color: white;
  display: flex;
  justify-content: center;

  flex-wrap: wrap;
}

ul.skills-used li {
  background-color: black;
  display: block;
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
}
